
*.log
*.pdb
*.idb
x64/Debug/SDL2d.dll
x64/Debug/SDL2_framerate.obj
*.obj
*.txt
*.CopyComplete
*.tlog
*.ilk
*.exe
.vs/Bouncing_blocks/v16/.suo
*.db
*.opendb
*.ipch
Bouncing_blocks.sln
*.vcxproj
Bouncing_blocks.vcxproj.filters
*.user
*.o
cache/
.cache
